* {
    box-sizing: border-box;
}

#bradcaump {
    position: relative;
}

button {
    background: none;
    border: none;
    outline: none;
}

label {
    font-weight: bold;
}

input[type='file'] {
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    width: 45px !important;
    height: 45px !important;
    border: 2px solid #eee;
    object-fit: cover;
}

#bradcaump::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(37, 29, 29, .4);
}

.author-container {
    padding: 40px 0;
    background: #f8f8f8;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
}

.author-container .content h2 {
    margin: 10px;
    text-align: center;
}

.author-container .avatar {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: auto;
    border: 1px solid #EFEFEF;
}

.blog-page .blog__post {
    margin: 80px 0;
}

.error {
    color: #dc3545;
    display: block;
    margin: 10px 0;
}


/* tostify */

.notify {
    position: fixed;
    z-index: 9999;
    top: 100px;
    right: 0;
    color: #fff;
    background: #007bff;
    text-align: left;
    border-left: 4px solid #434343;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    transition: all 1s;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 300px;
    max-width: 400px;
}

.notify.primary {
    background: #007bff;
}

.notify.success {
    background: #28a745;
}

.notify.info {
    background: #17a2b8;
}

.notify.danger {
    background: #dc3545;
}

.notify.bye {
    right: -450px;
}


/* tostify */

.confirm_container {
    position: fixed;
    z-index: 909999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 29, 29, .4);
}

.confirm_container .content {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    background: #fff;
    text-align: center;
    padding: 40px 20px;
    padding-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #007bff;
}

.confirm_container .content .message {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 17px;
    color: #000;
}

.confirm_container .content button {
    margin: 5px;
    min-width: 100px;
}


/* sidebar */

.recent-posts .post-wrapper {
    margin-bottom: 10px;
}

.recent-posts .post-wrapper .thumb img {
    width: 40px;
    height: 40px;
}


/* sidebar */

.section-padding--lg {
    padding: 30px 0;
}

.post_header {
    position: relative;
}

.post_header .post_owner_controle {
    position: absolute;
    left: 94%;
    top: 0px;
    padding: 20px;
    z-index: 99999;
}

.post_header .post_owner_controle .open_button {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.post_header .post_owner_controle .actions {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: absolute;
    right: 30px;
    top: 43px;
    background: #fff;
    padding: 15px;
    box-shadow: 1px 1px 8px 1px #000;
    display: none;
}

.post_header .post_owner_controle .actions a {
    margin: 5px 0;
}

.post_header .post_owner_controle:hover .actions {
    display: flex;
}

.comment_owner_controle {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    padding: 10px;
    z-index: 9;
    padding: 20px;
}

.comment_owner_controle .open_button {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.comment_owner_controle .actions button {
    margin: 5px 0;
}

.comment_owner_controle .actions {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: absolute;
    right: 28px;
    top: 50px;
    background: #fff;
    padding: 15px;
    box-shadow: 1px 1px 8px 1px #000;
    display: none;
    z-index: 99;
}

.comment_owner_controle:hover .actions {
    display: flex;
}


/* edit-comment-from-post */

.edit-comment-from-post {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(37, 29, 29, .4);
    z-index: 999999999999999;
}

.edit-comment-from-post .content {
    background: #fff;
    margin-top: 90px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.edit-comment-from-post .close-me {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    color: #fff;
    background: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}


/* edit-comment-from-post */